.container {
  min-height: 100vh;
  padding: 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  padding-bottom: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 876px) {
  .container {
    padding: 0 22px;
  }
}
