.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 88px;
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #0001;
}

.btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  cursor: pointer;
}

.btn span {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn svg {
  font-size: var(--fz-ml);
}

@media (max-width: 876px) {
  .container {
    padding: 20px 22px;
  }
}
