.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
  margin-left: 4rem;
}

.resultPara {
  border-bottom: 1px solid #ebecf3;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.productResCntnt {
  padding: 1rem;
  text-align: justify;
}

.productResImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  transition: transform 0.2s ease;
}

.productResTitl {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productResReview {
  font-size: 0.9rem;
}

.productRateWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productRate {
  font-weight: bold;
  color: #666;
}

.productResPrice {
  color: #e2a400;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.15rem;
}

.productResBrand {
  margin: 0;
  color: #999;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  text-decoration: underline;
}

.card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  transition: color 0.15s ease, box-shadow 0.2s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--logo-color-900);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card:hover .productResImg {
  transform: scale(1.1);
}

.card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 876px) {
  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
