.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
}

.products h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 3rem;
  color: rgb(74, 112, 119);
}

.resultPara {
  border-bottom: 1px solid #ebecf3;
  padding-bottom: 33px;
  width: 100%;
  margin-bottom: 30px;
  gap: 1rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
