.resultsContainer {
    color: inherit;
    width: 100%;
}

.resultsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .resultsContainer {
        color: inherit;
        width: 80%;
    }
  }
