body {
    text-align: center;
    background-color: #FDFDFD;
    margin: 0;
    font-family:Source Sans Pro,Helvetica,Arial,sans-serif;
}

#header {
    background-color: #0073B7;
    font-size: 1rem;
    padding: 25px;
    margin: 0;
}

#content {
    color: #464646;
}

#meili-message {
    background-color: #CDE;
    padding: 3px;
}

#results-container {
    width: 500px;
    margin: 15px auto;
}


#results-container a {
    text-decoration: none;
}

#search-bar {
    padding: 10px;
    width: 30%;
    font-size: 1.1rem;
}

#response-time {
    width: 30%;
    font-size: 0.8rem;
    text-align: right;
    padding-top: 2px;
    margin: 0 auto;
    color: #345
}

.pkg-result {
    background-color: #FFF;
    border: #69C solid 1px;
    border-radius: 2px;
    margin-bottom: 5px;

}

.result-body {
    background-color: #FFF;
    padding: 5px;
}

.result-name {
    background-color: #69C;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
}

.result-description {
    text-align: left;
    padding-left: 15px;
}
