body {
    text-align: center;
    background-color: #FDFDFD;
    margin: 0;
    font-family:Source Sans Pro,Helvetica,Arial,sans-serif;
}

#header {
    background-color: #0073B7;
    font-size: 1rem;
    padding: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#header-container {
    display: flex;
    /* flex: 1 0; */
    width: 700px;
}

#header-logo {
    flex-grow: 0;
    flex-shrink: 0;
}

#header-bar {
    flex-shrink: 0;
    flex-grow: 1;
}

#content {
    color: #464646;
}

#meili-message {
    background-color: #CDE;
    padding: 3px;
}

#meili-message a {
    color: #0073B7;
}

#results-container {
    width: 700px;
    margin: 15px auto;
}

#results-container a {
    text-decoration: none;
}

#search-bar {
    padding: 10px;
    font-size: 1.1rem;
    width: 80%;
}

.searchbar-logo {
    margin: 20px;
}

#response-time {
    width: 30%;
    font-size: 0.8rem;
    text-align: right;
    padding-top: 2px;
    margin: 0 auto;
    color: #345
}

.results-row {
    display: flex;
    justify-content: space-between;
}

.pkg-result {
    background-color: #FFF;
    border: #69C solid 1px;
    border-radius: 2px;
    margin-bottom: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 49%;
}

.result-body {
    background-color: #FFF;
    padding: 5px;
}

.result-name {
    background-color: #69C;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
}

.result-name em {
    background-color: rgba(100, 202, 250, 0.24);
    padding: 0;
    margin: 0;
    border-radius: 2px;
}

.result-description {
    color: #333;
    text-align: left;
    padding-left: 15px;
    display: flex;
}

.result-description em {
    background-color: rgba(61, 194, 255, 0.15);
    padding: 0;
    margin: 0;
    border-radius: 2px;
}

.result-description-img {
    padding: 10px;
    padding-bottom: 5px;
    background-color: rgba(255, 187, 61, 0.25);
    border-radius: 5px;
    align-self: flex-start;
}

.result-description-content {
    padding: 2px;
    margin: 2px;
    padding-left: 10px;
    border-radius: 2px;
}