body {
    text-align: center;
    margin: 0;
}

#header {
    background-color: #0073b7;
    font-size: 1rem;
    padding: 50px;
    margin: 0;
}

#content {
    color: #464646;
}

.search-bar {
    padding: 10px;
    width: 30%;
}
